.drag{
  background-color: ghostwhite;
  width: 400px;
  height: 350px;
  margin-left: 60px;
  border: 5px solid deepskyblue;
}
.image{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

#dragtext{
  color: deepskyblue;
  padding-left: 100px;
  padding-right: 100px;
}
